<p id="notice"><%= notice %></p>

<h1>Listing Manhattans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Recipe</th>
      <th>Num cherries</th>
      <th>Establishment</th>
      <th>City</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manhattans.each do |manhattan| %>
      <tr>
        <td><%= manhattan.name %></td>
        <td><%= manhattan.recipe %></td>
        <td><%= manhattan.num_cherries %></td>
        <td><%= manhattan.establishment %></td>
        <td><%= manhattan.city %></td>
        <td><%= manhattan.notes %></td>
        <td><%= link_to 'Show', manhattan %></td>
        <td><%= link_to 'Edit', edit_manhattan_path(manhattan) %></td>
        <td><%= link_to 'Destroy', manhattan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manhattan', new_manhattan_path %>
