<!DOCTYPE html>
<html>
<head>
  <title>TheManhattanProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <p class="navbar-text pull-right">
  <% if logged_in? %>
    Logged in as <strong><%= @current_user.username %></strong>.
    <%= link_to "Logout", logout_path, method: :delete, class: 'navbar-link'  %>
  <% else %>
    <%= link_to "Login", login_path, class: 'navbar-link'  %>
  <% end %>
  <img src='https://s3.amazonaws.com/aws.userdel.com/manhattan_ice.jpg' height="100" width="200">

  <%= yield %>
  <p>
  <% if Rails.env.development? %>
    <% if @stats %>
      <h1>Cache Stats</h1>
      <table>
        <tr>
          <th>Metric</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Cache hits:</td>
          <td><%= @stats['get_hits'] %></td>
        </tr>
        <tr>
          <td>Cache misses:</td>
          <td><%= @stats['get_misses'] %></td>
        </tr>
        <tr>
          <td>Cache flushes:</td>
          <td><%= @stats['cmd_flush'] %></td>
        </tr>
      </table>
    <% end %>

    <%= debug(params) %>
  <% end %>
</body>
</html>
